@use '@/styles/variables' as *;

.task-list {
  &__icon-btn {
    background: none;
    border: 1px solid #fff;
    padding: 0.2em;
    color: $color-text-light;
    transition: color $transition, border-color $transition;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    margin: 0 auto;

    &:hover:not(:disabled) {
      color: $color-danger;
      border: 1px solid $color-danger;
      background: none;
    }
  }

  &__cell-todo {
    border: 1px solid $color-border;
  }
}
