POSTGRES_USER=postgres_user_name
POSTGRES_PASSWORD=your_password
POSTGRES_DB=db_title

DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=postgres_user_name
DB_PASSWORD=your_password
DB_DATABASE=db_title

VITE_API_URL=http://localhost:3000