@use '@/styles/_variables.scss' as *;

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: none;
  margin: 0;
  background: $color-bg-alt;
  border-radius: 0;
  box-shadow: none;
  overflow-x: hidden;
}
