@use '@/styles/variables.scss' as *;

.header {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: $spacing-md;
  background-color: $color-bg;

  &__title {
    margin: 0;
    font-size: $font-size-xl;
    text-align: left;
    color: $color-primary;
    font-weight: 700;
    letter-spacing: 0.01em;
  }

  &__user-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  &__logout {
    background-color: $color-bg-light;
    border: 1px solid $color-border;
    color: $color-primary;
    transition: $transition;
  }
}
