@use '@/styles/variables.scss' as *;

.project-list {
  width: 100%;
  background: $color-bg-alt;
  border-radius: $radius;
  box-shadow: 0 1px 4px 0 rgba(30, 41, 59, 0.04);
  margin-top: $spacing-sm;
  overflow-x: auto;

  &__table {
    width: 100%;
    border-radius: $radius;
    overflow: hidden;
    font-size: $font-size-sm;
  }

  &__table th,
  &__table td {
    padding: $spacing-xs $spacing-xs;
    border-bottom: 1px solid $color-border;
    text-align: left;
  }

  &__table th {
    background: $color-bg;
    color: $color-text-light;
    font-weight: 600;
    font-size: $font-size-sm;
  }

  &__table tr:last-child td {
    border-bottom: none;
  }
}
