@use '../../styles/_variables.scss' as *;

.app-layout {
  width: 100vw;
  min-height: 100vh;
  max-width: none;
  margin: 0;
  // padding: $spacing-lg $spacing-md;
  background: $color-bg-alt;
  border-radius: 0;
  box-shadow: none;
}

