@use '@/styles/variables' as *;

.project-list__actions {
  display: flex;
  gap: $spacing-xs;
  justify-content: center;
  align-items: center;
}

.project-list__link {
  color: $color-accent;
  font-weight: 500;
  font-size: $font-size-base;
  &:hover {
    text-decoration: none;
    color: $color-primary;
  }
}

.project-list__icon-btn {
  background: none;
  border: none;
  padding: 0.2em;
  color: $color-text-light;
  border: 1px solid transparent;
  transition: color $transition, border-color $transition;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    &:hover:not(:disabled) {
      color: $color-danger;
      border: 1px solid $color-danger;
      background: none;
    }
  }
}
