@use '@/styles/_variables.scss' as *;

.task-form {
  display: flex;
  gap: $spacing-md;
  background-color: $color-bg-alt;
  border: 1px solid $color-border;
  padding: $spacing-sm $spacing-sm;
  max-width: 500px;

  @media (max-width: 1090px) {
    max-width: 100%;
    flex-direction: column;
    gap: $spacing-xs;
    align-self: flex-end;
  }

  &__field-wrapper {
    @media (max-width: 1090px) {
      display: flex;
      justify-content: space-between;
      align-items: start;
      gap: $spacing-sm;
    }
  }

  &__field {
    margin-bottom: $spacing-sm;
    display: flex;
    flex-direction: column;

    @media (max-width: 1090px) {
      margin-bottom: 0;
    }
  }

  &__label {
    font-size: $font-size-sm;
    color: $color-text-light;
    margin-bottom: 0.25rem;
    font-weight: 500;
  }

  &__input,
  &__textarea,
  &__select {
    padding: $spacing-xs;
    border: 1px solid $color-border;
    border-radius: $radius;
    font-size: $font-size-base;
    font-family: $font-family-base;
    color: $color-text;
    transition: border-color $transition, background-color $transition;
    height: 37px;

    &::placeholder {
      display: flex;
      align-items: flex-start;
      text-align: start;
      font-size: $font-size-xs;
      color: $color-text-light;
      opacity: 0.5;
      font-style: italic;
    }

    &:focus {
      border-color: $color-primary;
      outline: none;
    }
  }

  .task-form__select {
    color: $color-text;
    border: 1px solid $color-border;
    border-radius: $radius;
    padding: $spacing-xs;
    font-size: $font-size-sm;
    height: 37px;
    cursor: pointer;
  }

  &__textarea {
    min-height: 80px;
    overflow-y: hidden;
    resize: vertical;

    @media (max-width: 1090px) {
      height: 37px;
      min-height: 37px;
    }
  }

  &__button {
    background-color: $color-primary;
    color: $color-bg-alt;
    border: none;
    border-radius: $radius;
    margin-top: 4px;
    padding: $spacing-xs $spacing-md;
    font-size: $font-size-base;
    font-family: $font-family-base;
    cursor: pointer;
    transition: background-color $transition;
    max-height: 37px;

    &:hover {
      background-color: $color-primary-light;
    }
  }

  &__error {
    color: $color-danger;
    font-size: $font-size-xs;
    margin-top: 0.25rem;
  }
}
